@model SGL.ApplicationCore.Entity.Livro

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editora.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editora.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LivroId">Atualizar</a> |
    <a asp-action="Index">Voltar</a>
</div>
